html,body {
    height:100%;
    background-color: hsla(360, 100%, 75%, 0.03);
    /* font-size: calc(16px + (24-16)*(100vw-400px)/(800-400)); */
}

html {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc( 10px + (16 - 10) * (100vw - 400px) / (1200 - 400) );
    /* font-size: min(max(16px, 4vw), 22px); */
    /* font-size: calc(12px + 6 * ((100vw - 320px) / 680)); */
}

.App {
  text-align: center;
  color: rgba(20, 20, 27, .90);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
